$widthSite: 1600px;
$widthSiteProducts:1140px;
$headerBackground:rgba(34, 34, 34, 1);
$countBackground: rgba(241, 109, 127, 1);
$colorForParagraph: rgba(111, 110, 110, 1);
$colorForText: rgba(0, 0, 0, 1);
$backgroundFooter:rgba(34, 34, 36, 1);
